.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.idea/*
nbproject/*
config/database.yml
config/application.yml
public/ckeditor_assets/*
db/schema.rb
app/assets/images/avatar/*
public/assets/*
public/sitemaps/*
