// Place all the styles related to the admin/admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// = require web-app-theme/base
// = require web-app-theme/themes/warehouse/style
// = require web-app-theme/override
// = require jquery.autocomplete
.show-comments{
  width: 15%;
  text-align: left !important;
}

.post-tag a {
  float: left;
  margin-top: 5px;
}

.post-tag {
  line-height: 8px;
}
#tag_name {
    width: 185px;
}

.post-tag label {
  padding-top: 12px;
  padding-left: 10px;
  float: left;
  width: 200px;
}

.clear {
  clear: both;
  font-size: 0pt;
  line-height: 0px;
  height: 0px;
}

.table th a{
    color: #ffffff;
    &:hover {
    color: #d2d2d2; }
}

#search_name_contains{
  width:320px;
}