%h2 Results by your request "#{@search_str}"

- if @is_posts
  = render :partial => 'users/posts', :locals => {:posts => @find}
- else

  %table#search_results
    %tr
      - @find.each do |finded_item|
        %td
          = render :partial => 'users/comment', :locals => {:comment => finded_item}

  .pager
    =will_paginate @find, :class => "pager", :previous_label => '', :next_label => '', :separator => ' - '