.center
  - posts.each do |post|
    .item
      %h2
        =link_to post.subject, show_post_comments_path(post)
      .by
        ="Posted by"
        %span.admin_span{:style=>"color: green;"} #{post.admin.nick}
        =time_ago_in_words(post.created_at)
        ago
      = raw truncate_html(post.message,post)
      .clear
      .more
        =link_to "Read More", show_post_comments_path(post)
        %div{:style => "float:left;"}
          - unless post.tags.empty?
            - post.tags.each do |tag|
              |
              = link_to tag.name, tags_path(tag.name)
            |
  .pager
    =will_paginate posts, :class => "pager", :previous_label => '', :next_label => '', :separator => ' - '
    .clear
  .clear
