.center
  .item
    %h2
      %a{:href => "#"} Rails 3.1.0.rc4 has been released!
    .by Posted by Autor June 09, 2011 @ 11:11 PM
    %p I've noticed the retro/vintage style theme in logo design is becoming an increasingly popular trend. This showcase pulls together a range of great looking logo designs based on the emblem or badge theme.
    %p Most often using a circular format, these logos use a mix of texture or intricate vector patterns to produce a creative and overall super-cool design
    .more
      %a{:href => "#"} Read More
  .item
    %h2
      %a{:href => "#"} Rails 3.1.0.rc4 has been released!
    .by Posted by Autor June 09, 2011 @ 11:11 PM
    %p I've noticed the retro/vintage style theme in logo design is becoming an increasingly popular trend. This showcase pulls together a range of great looking logo designs based on the emblem or badge theme.
    %p Most often using a circular format, these logos use a mix of texture or intricate vector patterns to produce a creative and overall super-cool design
    .more
      %a{:href => "#"} Read More
  .item
    %h2
      %a{:href => "#"} Rails 3.1.0.rc4 has been released!
    .by Posted by Autor June 09, 2011 @ 11:11 PM
    %p I've noticed the retro/vintage style theme in logo design is becoming an increasingly popular trend. This showcase pulls together a range of great looking logo designs based on the emblem or badge theme.
    %p Most often using a circular format, these logos use a mix of texture or intricate vector patterns to produce a creative and overall super-cool design
    .more
      %a{:href => "#"} Read More
  .pager
    %ul
      %li
        %a{:href => "#"} 1
      %li -
      %li
        %a{:href => "#"} 2
      %li -
      %li
        %a{:href => "#"} 3
      %li -
      %li
        %a{:href => "#"} 4
      %li -
      %li
        %a{:href => "#"} 5
      %li -
      %li
        %a{:href => "#"} 6
      %li -
    .clear
  .clear
