development:
  mailer:
    default_url_options:
      host: "localhost:3000"
    delivery_method: 'smtp'
    smtp_settings:
      address: "smtp.gmail.com"
      port: 587
      domain: 'is-valid.org'
      user_name: "noreply@is-valid.org"
      password: ""
      authentication: "plain"
      enable_starttls_auto: true
  devise_secret_key: YOUR_DEVISE_SECRET_KEY

production:
  mailer:
    default_url_options:
      host: "localhost:3000"
    delivery_method: 'smtp'
    smtp_settings:
      address: "smtp.gmail.com"
      port: 587
      domain: 'is-valid.org'
      user_name: "noreply@is-valid.org"
      password: ""
      authentication: "plain"
      enable_starttls_auto: true
  devise_secret_key: YOUR_DEVISE_SECRET_KEY