/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require users
*/
/* ----- main styles ----- */

.h-but
{
    background: url("/assets/search-but.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 34px;
    position: absolute;
    top: -5px;
    width: 82px;
}

* {
  margin: 0px;
  padding: 0px; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: Tahoma;
  font-size: 9pt;
  height: 100%;
  width: 100%;
  color: #525051; }

a {
  outline: none;
  -moz-outline: 0;
  border: none;
  border-width: 0px;
  &:active, &:focus {
    outline: none;
    -moz-outline: 0; }
  color: #e82822;
  text-decoration: none;
  &:hover {
    text-decoration: underline; } }

img {
  border: none;
  border-width: 0px; }

h1, h2 {
  color: #000;
  background: url("item.png") 8px 2px no-repeat;
  border-bottom: 1px solid #999;
  font-weight: normal;
  padding: 0px 10px 5px 45px;
  height: 1%;
  font-size: 18pt;
  font-family: "Myriad Pro"; }

h1 a, h2 a {
  color: #000; }

h3, h4, h5, h6 {
  color: #000;
  background: url("item-r.png") 8px 2px no-repeat;
  border-bottom: 1px solid #999;
  border-right: 3px solid #999;
  margin: 0 0 6px 0;
  font-weight: normal;
  padding: 0px 10px 5px 45px;
  height: 1%;
  font-size: 18pt;
  font-family: "Myriad Pro"; }

h3 a, h4 a, h5 a, h6 a {
  color: #000; }

p {
  padding: 0px 0px 10px 0px;
  text-indent: 35px; }

ol, ul {
  margin: 0px 0px 10px 10px; }

li {
  margin: 5px 0px 10px 15px; }

input, select, textarea {
  font-family: tahoma;
  font-size: 8pt;
  color: #000000; }

.clear {
  clear: both;
  font-size: 0pt;
  line-height: 0px;
  height: 0px; }

/* ----- special classes styles ----- */

.main {
  min-height: 100%;
  background: url("bk.png") 0 bottom repeat-x white; }

.main1 {
  position: relative;
  width: 1004px;
  margin: 0 auto; }

//*html .main {
//  height: 100%; }

/* ----- header styles ----- */

.header {
  height: 20px;
  padding: 142px 0 0 0;
  position: relative;
  background: url("top.png") center 124px no-repeat; }

.logo {
  left: 238px;
  top: 10px;
  position: absolute;
  width: 505px;
  height: 107px;
  display: block;
  background: url("logo.png") no-repeat; }

/* ----- h-menu ----- */

.h-menu {
  text-align: center;
  li {
    display: inline-block;
    height: 17px;
    line-height: 17px;
    border-left: 3px solid #e82822;
    padding: 0 5px;
    margin: 0 12px; } }

//*html .h-menu li, *+html .h-menu li {
//  display: inline; }

.h-menu a {
  color: #525051;
  &:hover {
    color: #e82822; } }

/* ----- content styles ----- */

.content {
  position: relative;
  padding: 0 0 60px 0;
  height: 1%; }

.center {
  border-top: 3px solid #999;
  float: left;
  width: 650px;
  padding: 12px 15px 0px 15px;
  height: 1%; }

.right {
  border-top: 3px solid #999;
  float: right;
  width: 245px;
  padding: 12px 20px 0px 20px;
  height: 1%; }

.item {
  padding: 0 0 19px 0; }

.by {
  text-align: right;
  color: #999;
  padding: 0 0 5px 0; }

.more {
  text-align: right;
  border-bottom: 1px solid #999;
  border-right: 3px solid #999;
  padding: 0 3px 1px 3px;
  line-height: 17px; }

.r-menu {
  border-bottom: 1px solid #999;
  margin: 0 0 15px 0;
  ul {
    margin: 0;
    list-style: none; }
  li {
    margin: 0 0 2px 0;
    background: url("r-menu.gif") 0 bottom repeat-x;
    padding: 0 5px 7px 5px;
    line-height: 17px;
    &:last-child {
      background: none; } }
  a {
    color: #387aff;
    &:hover {
      color: #e82822; } } }

/* ----- pager ----- */

.pager {
  text-align: center;
  padding: 10px 0;
  height: 1%;
  ul {
    margin: 0;
    list-style: none; }
  li {
    margin: 0;
    display: inline;
    padding: 0 3px;
    &:last-child {
      display: none; } }
  a {
    color: #525051;
    &:hover {
      color: #e82822; } } }

.current{
    padding: 1px 4px;
    background: #cccccc;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -border-radius:3px;
}

/* ----- footer styles ----- */

.footer {
  position: relative;
  margin: 0 auto;
  margin-top: -50px;
  background: url("footer.png") no-repeat;
  height: 32px;
  width: 922px;
  padding: 18px 0 0 0;
  text-align: center;
  font-size: 8pt; }

#search-form{
  float: right;
  float:right;
  width:29%;
}
.h-menu #menu-elements{
  float:left;
  width:68%;
  height: 19px;
  text-align: right;
}

.g_banner{
  margin: 20px 0 20px 0;

}