// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments h2 {
  font-size: 14pt;
  color: #525051;
  background: none;
  padding: 0 10px 5px 15px;
  border-bottom: 1px solid #d7d7d7;
}

.comments .avatar {
  float: left;
  margin-right: 10px;
}
.comment strong{
  font-size: 12px;
  padding-bottom: 4px;
}
.comment {
    border-bottom: 1px solid #d7d7d7;
    padding-top: 16px;
    padding-bottom: 8px;
}
.comment .message {
    float: left;
    width: 558px;
    margin-top: 15px;
}

.comment .message span {
    overflow: auto;
    display: block;
}

.comments .avatar span {
  width: 75px;
  height: 73px;
  background-image: url(/assets/no-avatar.gif);
  border: 1px solid #ccc;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  display: block;
}

.submit input {
  border: 1px solid #ccc;
  height: 20px;
  line-height: 19px;
  padding: 0 10px;
  width: 80px;
  float: right;
  margin-top: 5px;
}
.comment .message #comment_content{
    width: 100% !important;
    height: 122px !important;
    overflow: none;
}
